{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>QuickBite</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>

    <nav>
        <div>
            <h2>QuickBite</h2>
        </div>

        <div>

            {% if user.is_authenticated %}

                <span>Welcome, {{ user.username }}</span>
                <a href="#">Logout</a>

            {% else %}

                <a href="{% url 'login' %}">Login</a>
                <a href="{% url 'signup' %}">Sign In</a>

            {% endif %}

            <a href="#">About</a>

        </div>
    </nav>

    {% block content %}
    {% endblock %}

</body>
</html>



        