{% extends "base.html" %}

{% block content %}

<h1>Login</h1>
{% if error %}
    <p>{{ error }}</p>
{% endif %}

<form method="POST">

    {% csrf_token %}

    {% if next %}
        <input type="hidden" name="next" value="{{ next }}">
    {% endif %}
    <label>Username</label>
    <input type="text" name="username">

    <label>Password</label>
    <input type="password" name="password">

    <button type="submit">Login</button>
    <p>
        Don't have an account?
        <a href="{% url 'signup' %}?next={{ next }}">Sign Up</a>
    </p>

</form>

{% endblock %}